<div class="container mt-2">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">{{ 'accounts.title' | translate }}</div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">{{ 'accounts.accountId' | translate }} :</label>
              <input type="text" formControlName="accountId" class="form-control">
              <button class="btn btn-info" [disabled]="accountFormGroup.invalid">
                <i class="bi bi-search"></i>
                {{ 'actions.search' | translate }}
              </button>
            </div>
          </form>
          <ng-template #errorTemplate>
            <ng-container *ngIf="errorMessage; else loading">
              <div class="text-danger">{{ errorMessage | translate }}</div>
            </ng-container>
            <ng-template #loading>
              {{ 'loading.message' | translate }} ...
            </ng-template>
          </ng-template>

          <ng-container *ngIf="accountObservable | async as accountDetails;else errorTemplate">
            <div class="mb-2">
              <label>{{ 'accounts.accountId' | translate }} :</label>
              <label><strong>{{ accountDetails.accountId }}</strong></label>
            </div>
            <div class="mb-2">
              <label>{{ 'accounts.balance' | translate }} :</label>
              <label><strong>{{ accountDetails.balance | number: '1.2-2' }}</strong></label>
            </div>
            <table class="table">
              <thead>
              <tr>
                <th>{{ 'accounts.table.id' | translate }}</th>
                <th>{{ 'accounts.table.date' | translate }}</th>
                <th>{{ 'accounts.table.type' | translate }}</th>
                <th>{{ 'operations.amount' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let op of accountDetails.accountOperationDTOS">
                <td>{{ op.id }}</td>
                <td>{{ op.operationDate | date: 'dd-MM-yyyy:HH-mm-ss' }}</td>
                <td>{{ op.type }}</td>
                <td class="text-end">{{ op.amount | number: '1.2-2' }}</td>
              </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let item of [].constructor(accountDetails.totalPages); let page=index">
                <a [ngClass]="page === currentPage ? 'btn-info' : 'btn-outline-info'"
                   (click)="gotoPage(page)" class="btn ms-1 mt-1">{{ page }}</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card" *ngIf="accountObservable">
        <div class="card-header">{{ 'operations.title' | translate }}</div>
        <div class="card-body" *ngIf="authService.roles.includes('ADMIN')">
          <form [formGroup]="operationFromGroup" (ngSubmit)="handleAccountOperation()" method="post">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT">
              <label class="form-check-label">{{ 'operations.debit' | translate }}:</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT">
              <label class="form-check-label">{{ 'operations.credit' | translate }}:</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFER">
              <label class="form-check-label">{{ 'operations.transfer' | translate }}:</label>
            </div>
            <div class="mb-3" *ngIf="operationFromGroup.get('operationType')?.value === 'TRANSFER'">
              <label class="form-label">{{ 'operations.accountDestination' | translate }}:</label>
              <input type="text" formControlName="accountDestination" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">{{ 'operations.amount' | translate }} :</label>
              <input type="text" formControlName="amount" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">{{ 'operations.description' | translate }} :</label>
              <input type="text" formControlName="description" class="form-control">
            </div>
            <div class="d-grid mb-3">
              <button class="btn btn-success" [disabled]="operationFromGroup.invalid">{{ 'operations.save' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
